<h1><%=@post.title%></h1>
<h3><label>Post by Blogger : </label> <br>
<%= @post.blogger.name%> <br></h3>
<label>Post Content : </label>
<%= @post.content%> <br>
<label>Post likes : </label>
<%= @post.likes%> <br>
